
@{
    ViewData["Title"] = "_ResourceNotFound";
}

<h1>_ResourceNotFound</h1>

<div class="text-center">
    <img src="~/Image/gopher_head-min.png" class="rounded mx-auto d-block" alt="Responsive Postal Code Not Found image" style="width:600px; height:600px; max-width: 100%; height: auto;" />
    <h2>No estas autorizado para ejecutar esta acción!</h2>
    <flash dismissable="true" />
</div>
