@model Soccers.Web.Models.GroupViewModel

<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" style="float: left;text-align: center;border-radius: 60px;" placeholder="Name"/>
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
