@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Tutorial 62 - Part 40? and 57 - Project Explanation hd</h1>
    <img src="~/images/soccer.png" />
</div>